/* app css stylesheet */

body {
  background: url(/tiny_grid.png);
  overflow-x: hidden;
}

.company-name{
  padding-top: 15px;
  color: white;
  font-size: 30px;
}

.time {
  padding-top: 15px;
  color: white;
  font-size: 25px;
}

.navbar {
position: relative;
min-height: 80px;
margin-bottom: 2px;
border: 1px solid transparent;
}
.navbar-default {
background-color: rgb(238,116,90);
}

.navbar-default .navbar-brand {
color: #FFF;
}

.well {
  background-color: rgba(255,255,255,.5);
}

.schedule {
    border: 1px solid;
}

.btn {
color: white;
background-color: #AC3319;
border-color: #D45135;
}

.btn:hover {
    color: white;
    background-color: #D88573;
    border-color: #D45135;
}

.btn:focus {
color: white;
background-color: #AC3319;
border-color: #D45135;
}

/*off-canvas css animation for meeting participants*/


#participants-slider {
         position: absolute;
         top: auto;
         bottom: auto;
         width: 15.625em;
         right: -15.625em;
         height: auto;
         -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        -webkit-transition: 0.25s ease;
        -moz-transition: 0.25s ease;
        -o-transition: 0.25s ease;
        transition: 0.25s ease;
}


 #participants-slider.active {
        -webkit-transform: translate(-15.625em, 0px);
        -moz-transform: translate(-15.625em, 0px);
        -o-transform: translate(-15.625em, 0px);
        -ms-transform: translate(-15.625em, 0px);
        transform: translate(-15.625em, 0px);
}


/*necessary angular-ui overide for unwanted route changes*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }